# Dependencies
node_modules

# Build
dist
*.local

# IDE
.vscode/*
!.vscode/extensions.json
.idea

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local
.env.*.local

# Temp
*.tsbuildinfo
.tmp
